*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#heading{
    color: orange;
    text-align: center;
    font-size: 3em;
    font-family: Arial, sans-serif;
    background-color: rgb(20, 20, 104);
}
.container{
    background-color: rgb(69, 5, 143);
    text-align: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 35px;
}
button{
    padding: 8px 34px;
    border-radius: 28px;
    background-color: #222242;
    color: white;
    margin: 2px;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(100, 00, 00, 0.6); /* Default shadow */
    transition: box-shadow 0.3s;
}
p{
    border: 8px solid black;
    height: 270px;
    width: 270px;
    display: flex;
    justify-content: center;
    background-color: #222242;
    align-items: center;
    border-radius: 50%;
    font-size: 45px;
    box-shadow: 0px 0px 20px 3px rgba(221, 29, 29, 0.6),
            0px 0px 20px 15px rgba(14, 233, 14, 0.5),
            0px 0px 20px 20px orange,
            0px 0px 20px 20px aqua;

}
button:nth-child(2):hover{
    background-color: blue;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.btns :first-child:hover{
    background-color: red;
    color: white;
}.btns :last-child:hover{
    background-color: rgb(31, 216, 25);
    color: white;
}